.App {
  text-align: center;
}

header {
  background-color: slategray;
  height: 30px;
  position: sticky;
  width: 100vw;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 5px 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: black;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: slategray;
  height: 30px;
  width: 100vw;
  margin: 0;
  padding: 0;
}