.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 10vw;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: slategray;
  height: 30px;
  position: sticky;
  width: 100vw;
  margin: 0;
  padding: 0 15px;
}

header h3 {
  margin: 0;
  padding: 0;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: white;
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 5px 0;
}

.card {
  border: 1px solid black;
  margin-bottom: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: slategray;
  height: 30px;
  width: 100vw;
  margin: 0;
  padding: 0;
}
